.shipping-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: yellow;
}
.shipping-bar p {
  flex: 1;
  text-align: center;
}
/**
 *  Section top bar 
 */
.section-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.section-top-bar h3 {
  background-color: orange;
  border-radius: 4px;
  font-size: 30px;
  font-weight: 700;
  padding: 10px 30px;
  transform: rotate(-5deg);

  /* Transition in transform*/
  transition: transform 0.25s ease;
  transition: background-color 0.25s ease-in;
}
/* Hover : Au survol */
.section-top-bar h3:hover {
  font-style: "Space Mono", monospace;
  transform: rotate(0);
  background-color: red;
}
.section-top-bar a {
  display: flex;
  align-items: center;
}

.section-top-bar a p {
  display: flex;
  align-items: center;
}
.section-top-bar i {
  margin-left: 20px;
}

.collection-items {
  display: flex;
  padding: 0 50px 100px 50px;
  overflow: auto;
  scrollbar-width: none;
}
.collection-items::-webkit-scrollbar {
  display: none;
}

.collection-item {
  /* par défaut on a : flex: 0 1 auto;*/
  flex: none;
  padding-right: 50px;
}
.collection-item img {
  max-width: 100%;
  width: 500px;
  height: auto;
}
.collection-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collection-item h4 {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}
.collection-item a {
  font-family: "Space Mono", monospace;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 3px solid orange;
}
