.shipping-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: yellow;
}
.shipping-bar p {
  flex: 1;
  text-align: center;
}

.section-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 55px;
}
