.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.newsletter span,
form {
  padding: 20px;
}

.newsletter form {
  display: flex;
}

.newsletter input::placeholder {
  color: black;
  opacity: 1;
}

.newsletter button {
  cursor: pointer;
  margin-left: -2px;
}

.newsletter button,
.newsletter input {
  border: solid 2px;
  border-radius: 0;
  padding: 20px 30px;
  background-color: white;
}
