/* Import */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700|Space+Mono:400,700&display=swap");

/* Debug */
[debug],
[debug] * {
  outline: solid 1px red;
  box-shadow: none;
  filter: none;
}

/* GLOBAL RULES */
/* Design system */
:root {
  /* colors */
  --black: black;
  --grey: grey;
  --white: white;
  --yellow: yellow;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: var(--black);
}

a {
  color: var(--black);
  text-decoration: none;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  background-color: var(--grey);
  font-family: "Space Mono", monospace;
}
header h1 {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

nav {
  display: flex;
}
nav ul {
  display: flex;
}
nav li {
  margin-right: 1em;
  padding: 5px;
}

.cart-item {
  position: relative;
}
.cart-item span {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-content: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  background-color: var(--yellow);
  font-size: 14px;
  border-radius: 50%;
}
.hero {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-image: linear-gradient(
      180deg,
      rgba(250, 110, 35, 0.5) 0%,
      rgba(255, 200, 50, 0.5) 20%
    ),
    url("images/photo-1454165804606-c3d57bc86b40.jpeg");
  background-size: cover;
}

.hero h2 {
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 120%;
}

.dark .cart-item span {
  color: black;
}
.dark {
  background-color: black !important;
  color: white;
}

.nav-mobile,
.menu-mobile {
  display: none;
}

@media (max-width: 850px) {
  header .nav-desktop {
    display: none;
  }
  header .nav-mobile {
    display: block;
  }
  .open .menu-mobile {
    position: absolute;
    left: 0px;
    top: 10vh;
    display: flex;
    flex-direction: column;
  }
  .open .menu-mobile li {
    width: 100vw;
    background-color: grey;
    border: black solid 1px;
  }
  header {
    position: relative;
  }
  .hero {
    height: 40vh;
  }
  .hero h2 {
    font-size: 60px;
    margin: 1.2em;
  }

  .section-top-bar a {
    display: none;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 30px;
  }
  .section-top-bar h3 {
    font-size: 20px;
  }
  p,
  span {
    font-size: 15px;
  }
  .hero {
    height: 30vh;
  }
  .hero h2 {
    font-size: 30px;
  }

  .section-top-bar a p {
    display: none !important;
  }

  .collection-items {
    width: 400px !important;
    padding: 10px;
  }

  .collection-item img {
    width: 250px !important;
  }
}

.progress-bar {
  position: fixed;
  width: 0px;
  height: 10px;
  top: 0px;
  left: 0px;
  background-color: orange;
  z-index: 50;
}
